<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acne Prons Skin</title>
    <link rel="stylesheet" href="./styleAcne.css">
</head>
<body bgcolor="#B0978C">
    <div class="border1">
      <h1>ผิวเป็นสิวง่าย</h1>
    </div>
    <div> 
      <div class="card" style="width: 18rem;">
        <img src="./image/OilySkin01.jpg" class="img">
        <div class="card-body">
          <h4>SRICHAND</h4>
          <p class="card-text">กันแดดสกินแคร์ สูตรคุมมันคุมสิว ซันลูชั่น แอคเน่ แคร์ ซันสกรีน เอสพีเอฟ 50+ พีเอ++++ ขนาด 15 มล.</p>
          <div>
            <a href="https://shopee.co.th/SRICHAND-%E0%B8%81%E0%B8%B1%E0%B8%99%E0%B9%81%E0%B8%94%E0%B8%94%E0%B8%AA%E0%B8%81%E0%B8%B4%E0%B8%99%E0%B9%81%E0%B8%84%E0%B8%A3%E0%B9%8C-%E0%B8%AA%E0%B8%B9%E0%B8%95%E0%B8%A3%E0%B8%84%E0%B8%B8%E0%B8%A1%E0%B8%A1%E0%B8%B1%E0%B8%99%E0%B8%84%E0%B8%B8%E0%B8%A1%E0%B8%AA%E0%B8%B4%E0%B8%A7-%E0%B8%8B%E0%B8%B1%E0%B8%99%E0%B8%A5%E0%B8%B9%E0%B8%8A%E0%B8%B1%E0%B9%88%E0%B8%99-%E0%B9%81%E0%B8%AD%E0%B8%84%E0%B9%80%E0%B8%99%E0%B9%88-%E0%B9%81%E0%B8%84%E0%B8%A3%E0%B9%8C-%E0%B8%8B%E0%B8%B1%E0%B8%99%E0%B8%AA%E0%B8%81%E0%B8%A3%E0%B8%B5%E0%B8%99-%E0%B9%80%E0%B8%AD%E0%B8%AA%E0%B8%9E%E0%B8%B5%E0%B9%80%E0%B8%AD%E0%B8%9F-50-%E0%B8%9E%E0%B8%B5%E0%B9%80%E0%B8%AD-%E0%B8%82%E0%B8%99%E0%B8%B2%E0%B8%94-15-%E0%B8%A1%E0%B8%A5.-i.80699995.11689289054?xptdk=60c2a749-7001-4bde-9d68-b4ed686b5d4c" target="_blank" class="Buyhere">
              Buy here</a>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="./image/OilySkin01.jpg" class="img">
        <div class="card-body">
          <h4>SRICHAND</h4>
          <p class="card-text">กันแดดสกินแคร์ สูตรคุมมันคุมสิว ซันลูชั่น แอคเน่ แคร์ ซันสกรีน เอสพีเอฟ 50+ พีเอ++++ ขนาด 15 มล.</p>
          <div>
            <a href="https://shopee.co.th/SRICHAND-%E0%B8%81%E0%B8%B1%E0%B8%99%E0%B9%81%E0%B8%94%E0%B8%94%E0%B8%AA%E0%B8%81%E0%B8%B4%E0%B8%99%E0%B9%81%E0%B8%84%E0%B8%A3%E0%B9%8C-%E0%B8%AA%E0%B8%B9%E0%B8%95%E0%B8%A3%E0%B8%84%E0%B8%B8%E0%B8%A1%E0%B8%A1%E0%B8%B1%E0%B8%99%E0%B8%84%E0%B8%B8%E0%B8%A1%E0%B8%AA%E0%B8%B4%E0%B8%A7-%E0%B8%8B%E0%B8%B1%E0%B8%99%E0%B8%A5%E0%B8%B9%E0%B8%8A%E0%B8%B1%E0%B9%88%E0%B8%99-%E0%B9%81%E0%B8%AD%E0%B8%84%E0%B9%80%E0%B8%99%E0%B9%88-%E0%B9%81%E0%B8%84%E0%B8%A3%E0%B9%8C-%E0%B8%8B%E0%B8%B1%E0%B8%99%E0%B8%AA%E0%B8%81%E0%B8%A3%E0%B8%B5%E0%B8%99-%E0%B9%80%E0%B8%AD%E0%B8%AA%E0%B8%9E%E0%B8%B5%E0%B9%80%E0%B8%AD%E0%B8%9F-50-%E0%B8%9E%E0%B8%B5%E0%B9%80%E0%B8%AD-%E0%B8%82%E0%B8%99%E0%B8%B2%E0%B8%94-15-%E0%B8%A1%E0%B8%A5.-i.80699995.11689289054?xptdk=60c2a749-7001-4bde-9d68-b4ed686b5d4c" class="Buyhere">
              Buy here</a>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="./image/OilySkin01.jpg" class="img">
        <div class="card-body">
          <h4>SRICHAND</h4>
          <p class="card-text">กันแดดสกินแคร์ สูตรคุมมันคุมสิว ซันลูชั่น แอคเน่ แคร์ ซันสกรีน เอสพีเอฟ 50+ พีเอ++++ ขนาด 15 มล.</p>
          <div>
            <a href="https://shopee.co.th/SRICHAND-%E0%B8%81%E0%B8%B1%E0%B8%99%E0%B9%81%E0%B8%94%E0%B8%94%E0%B8%AA%E0%B8%81%E0%B8%B4%E0%B8%99%E0%B9%81%E0%B8%84%E0%B8%A3%E0%B9%8C-%E0%B8%AA%E0%B8%B9%E0%B8%95%E0%B8%A3%E0%B8%84%E0%B8%B8%E0%B8%A1%E0%B8%A1%E0%B8%B1%E0%B8%99%E0%B8%84%E0%B8%B8%E0%B8%A1%E0%B8%AA%E0%B8%B4%E0%B8%A7-%E0%B8%8B%E0%B8%B1%E0%B8%99%E0%B8%A5%E0%B8%B9%E0%B8%8A%E0%B8%B1%E0%B9%88%E0%B8%99-%E0%B9%81%E0%B8%AD%E0%B8%84%E0%B9%80%E0%B8%99%E0%B9%88-%E0%B9%81%E0%B8%84%E0%B8%A3%E0%B9%8C-%E0%B8%8B%E0%B8%B1%E0%B8%99%E0%B8%AA%E0%B8%81%E0%B8%A3%E0%B8%B5%E0%B8%99-%E0%B9%80%E0%B8%AD%E0%B8%AA%E0%B8%9E%E0%B8%B5%E0%B9%80%E0%B8%AD%E0%B8%9F-50-%E0%B8%9E%E0%B8%B5%E0%B9%80%E0%B8%AD-%E0%B8%82%E0%B8%99%E0%B8%B2%E0%B8%94-15-%E0%B8%A1%E0%B8%A5.-i.80699995.11689289054?xptdk=60c2a749-7001-4bde-9d68-b4ed686b5d4c" class="Buyhere">
              Buy here</a>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="./image/OilySkin01.jpg" class="img">
        <div class="card-body">
          <h4>SRICHAND</h4>
          <p class="card-text">กันแดดสกินแคร์ สูตรคุมมันคุมสิว ซันลูชั่น แอคเน่ แคร์ ซันสกรีน เอสพีเอฟ 50+ พีเอ++++ ขนาด 15 มล.</p>
          <div>
            <a href="https://shopee.co.th/SRICHAND-%E0%B8%81%E0%B8%B1%E0%B8%99%E0%B9%81%E0%B8%94%E0%B8%94%E0%B8%AA%E0%B8%81%E0%B8%B4%E0%B8%99%E0%B9%81%E0%B8%84%E0%B8%A3%E0%B9%8C-%E0%B8%AA%E0%B8%B9%E0%B8%95%E0%B8%A3%E0%B8%84%E0%B8%B8%E0%B8%A1%E0%B8%A1%E0%B8%B1%E0%B8%99%E0%B8%84%E0%B8%B8%E0%B8%A1%E0%B8%AA%E0%B8%B4%E0%B8%A7-%E0%B8%8B%E0%B8%B1%E0%B8%99%E0%B8%A5%E0%B8%B9%E0%B8%8A%E0%B8%B1%E0%B9%88%E0%B8%99-%E0%B9%81%E0%B8%AD%E0%B8%84%E0%B9%80%E0%B8%99%E0%B9%88-%E0%B9%81%E0%B8%84%E0%B8%A3%E0%B9%8C-%E0%B8%8B%E0%B8%B1%E0%B8%99%E0%B8%AA%E0%B8%81%E0%B8%A3%E0%B8%B5%E0%B8%99-%E0%B9%80%E0%B8%AD%E0%B8%AA%E0%B8%9E%E0%B8%B5%E0%B9%80%E0%B8%AD%E0%B8%9F-50-%E0%B8%9E%E0%B8%B5%E0%B9%80%E0%B8%AD-%E0%B8%82%E0%B8%99%E0%B8%B2%E0%B8%94-15-%E0%B8%A1%E0%B8%A5.-i.80699995.11689289054?xptdk=60c2a749-7001-4bde-9d68-b4ed686b5d4c" class="Buyhere">
              Buy here</a>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="./image/OilySkin01.jpg" class="img">
        <div class="card-body">
          <h4>SRICHAND</h4>
          <p class="card-text">กันแดดสกินแคร์ สูตรคุมมันคุมสิว ซันลูชั่น แอคเน่ แคร์ ซันสกรีน เอสพีเอฟ 50+ พีเอ++++ ขนาด 15 มล.</p>
          <div>
            <a href="https://shopee.co.th/SRICHAND-%E0%B8%81%E0%B8%B1%E0%B8%99%E0%B9%81%E0%B8%94%E0%B8%94%E0%B8%AA%E0%B8%81%E0%B8%B4%E0%B8%99%E0%B9%81%E0%B8%84%E0%B8%A3%E0%B9%8C-%E0%B8%AA%E0%B8%B9%E0%B8%95%E0%B8%A3%E0%B8%84%E0%B8%B8%E0%B8%A1%E0%B8%A1%E0%B8%B1%E0%B8%99%E0%B8%84%E0%B8%B8%E0%B8%A1%E0%B8%AA%E0%B8%B4%E0%B8%A7-%E0%B8%8B%E0%B8%B1%E0%B8%99%E0%B8%A5%E0%B8%B9%E0%B8%8A%E0%B8%B1%E0%B9%88%E0%B8%99-%E0%B9%81%E0%B8%AD%E0%B8%84%E0%B9%80%E0%B8%99%E0%B9%88-%E0%B9%81%E0%B8%84%E0%B8%A3%E0%B9%8C-%E0%B8%8B%E0%B8%B1%E0%B8%99%E0%B8%AA%E0%B8%81%E0%B8%A3%E0%B8%B5%E0%B8%99-%E0%B9%80%E0%B8%AD%E0%B8%AA%E0%B8%9E%E0%B8%B5%E0%B9%80%E0%B8%AD%E0%B8%9F-50-%E0%B8%9E%E0%B8%B5%E0%B9%80%E0%B8%AD-%E0%B8%82%E0%B8%99%E0%B8%B2%E0%B8%94-15-%E0%B8%A1%E0%B8%A5.-i.80699995.11689289054?xptdk=60c2a749-7001-4bde-9d68-b4ed686b5d4c" class="Buyhere">
              Buy here</a>
          </div>
        </div>
      
      </div>
      
    </div>
    
</body>
</html>