<!DOCTYPE html>
<html lang="en">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunscreen for all skin types</title>
    <link rel="stylesheet" href="css/style1.css" type="text/css">
        
</head>
<body bgcolor="#E1C3AF">
  
  <div>   
    <ul>
      <div class="nav">
        <li>
          <a class="homepagemenu" href="">
            Home
          </a>       
        </li>        
        <li>
          <a class="homepagemenu" id="scrollTopButton">
            About
          </a>        
        </li>
      </div>
      <li class="skintype">
          <a href="./Skintype" target="_blank">
          <img class="skintype" src="./image/skintypebutton1.png">
          </a>
      </li>
      
    </ul>
    
  </div>
  <img class="banner" src="./image/forhomepage03.jpg" >
  
  <div class="AllHomepage">
    <div class="sunscreen">
    <a href="./Oily_Skins" target="_blank">      
      <div class="imgbutton">       
        <img class="img" src="./image/oil.png">
        <div class="forh4">
          <h4>ครีมกันแดดสำหรับ</h4>
          <h4 style="font-size: 24px;">ผิวมัน/ผิวผสม</h4>
        </div>        
      </div>     
    </a>
    <a href="./Dry_Skins" target="_blank">
      <div class="imgbutton">
        <img class="img" src="./image/dry.png">
        <div class="forh4">
          <h4>ครีมกันแดดสำหรับ</h4>
          <h4 style="font-size: 24px;">ผิวแห้ง</h4>
        </div>        
      </div>    
    </a>
    <a href="./Sensitive_Skins" target="_blank">
      <div class="imgbutton">
        <img class="img" src="./image/sensitive.png">
        <div class="forh4">
          <h4>ครีมกันแดดสำหรับ</h4>
          <h4 style="font-size: 24px;">ผิวแพ้ง่าย</h4>
        </div>        
      </div>    
    </a>
    <a href="./AcneProne_Skins" target="_blank">
      <div class="imgbutton">
        <img class="img" src="./image/Acne.png">
        <div class="forh4">
          <h4>ครีมกันแดดสำหรับ</h4>
          <h4 style="font-size: 24px;">ผิวเป็นสิวง่าย</h4>
        </div>
        
      </div>    
    </a>
  </div>
  </div>
  

    
  <div style="padding-bottom: 400px;"></div>
  <footer>
    <ul class="allabout">
      <li class="Allabout">
        <div class="about">        
          <nav>
            <img src="./image/icon1.png" class="icon">
            <p class="headabout1">About</p>  
          </nav>
          <strong><p class="about1">
            เว็บไซด์นี้จัดทำขึ้นเพื่อให้ผู้ใช้งานได้สามารถเลือกใช้ครีมกันแดดที่เหมาะกับตนเองได้  
            และสามารถยืนยันสภาพผิวก่อนเลือกใช้ผลิตภัณฑ์โดยทำแบบทดสอบ เพื่อประสิทธิภาพที่ดีในระหว่างการใช้งาน
            และไม่ก่อให้เกิดปัญหาผิวตามมาหลังจากใช้งาน
          </p></strong>
        </div>
      </li>

      <li class="Allabout">
        <div class="about">
          <nav>
            <img src="./image/icon2.png" class="icon">
            <p class="headabout2">Contact</p>
          </nav>
          <strong><p class="about2">pattypatxxr@gmail.com <br>
           </p></strong>       
        </div>
      </li>
    </ul>
  </footer>
  
  
    
</body>
</html>

<script>
  
  const scrollTopButton = document.getElementById('scrollTopButton');

  scrollTopButton.addEventListener('click', () => {
    window.scrollTo(-10, document.body.scrollHeight);
  });

</script>