<!DOCTYPE html>
<html lang="en">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunscreen for all skin types</title>
    <link rel="stylesheet" href="css/style1.css" type="text/css">
        
</head>
<body bgcolor="#E1C3AF">
  <div>
    <ul>
      <li><a class="homepagemenu" href="">Home</a></li>
      <li><a class="homepagemenu" href="">News</a></li>
      <li><a class="homepagemenu" href="">Contact</a></li>
      <li><a class="homepagemenu" href="">About</a></li>
    </ul>
  </div>  
  <img class="banner" src="./image/forhomepage03.jpg" >
  <h3>หมวดหมู่</h3>
  <a href="./Skintype.html" target="_blank">
    <img class="stbutton" src="./image/skintypebutton1.png">
  </a>
  <a href="./OilySkin.html" target="_blank">
    <img class="imgbutton" src="./image/imgbutton1.png">
  </a>
  <a href="./DrySkin.html" target="_blank">
    <img class="imgbutton" src="./image/imgbutton2.png">
  </a>
  <a href="./SensitiveSkin.html" target="_blank">
    <img class="imgbutton" src="./image/imgbutton3.png">
  </a>
  <a href="./AcneProneSkin.html" target="_blank">
    <img class="imgbutton" src="./image/imgbutton4.png">
  </a>

  
    
</body>
</html>