<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunscreen for all skin types</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body bgcolor="#F4EFEB">
    <div class="border1">
        <h1>ทำตามขั้นตอนดังต่อไปนี้เพื่อดูสภาพผิวของคุณ</h1>
    </div>
    <div class="video">
    <video width="420" height="340" controls>
        <source src="Video.mp4" type="video/mp4">
        <source src="Video.ogg" type="video/ogg">
      </video>
    </div>
    

</body>
</html>