<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunscreen for all skin types</title>
    <link rel="stylesheet" href="style02.css">
</head>
<body bgcolor="#F4EFEB">
    <div>
        <div class="border1">
            <h1>เลือกวิธีการตรวจสภาพผิวของคุณ</h1>
        </div>
        <div>
            <a href="./skintype1_1.html">
                <div class="border2">
                    <h2>ใช้วิธีการตอบคำถาม<br>เพื่อดูสภาพผิว</h2>
                    <h3>ใช้เวลาไม่เกิน 2 นาที</h3>
                    <h3>รู้ผลสภาพผิวได้เร็ว</h3>
                </div>
            </a>
        </div>
        <div>
            <a href="./skintype2_1.html">
                <div class="border3">
                    <h2>ใช้วิธีการดูวีดีโอ<br>เพื่อดูสภาพผิว</h2>
                    <h3>ใช้เวลาในการรอผล</h3>
                    <h3>เช็กสภาพผิวได้ละเอียดและแม่นยำกว่า</h3>
                </div>
            </a>
            <a href="./Homepage.html">
                <div>
                 <h4>กลับสู่หน้าหลัก</h4>
                </div>
            </a>
        </div>
        
    </div>
</body>
</html>